html, body
{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: hsla(0, 0%, 40%, 1);
}

.frontpage-mobile-poster {
	background-color: white;
    background: url('/images/poster-frontpage-light2.jpg') no-repeat top center; 
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
	width: 100vw;
	position: absolute;
	display: block;
	background-position: 45% 50%;
	z-index: 800;
}

.accroche {
    width: 100vw;
    height: 13vh;
	top: 0vh;
    z-index: 1;
    background-color: hsla(0, 0%, 15%, 1);
	padding: 1.5vh;
	overflow: hidden;
	position: absolute;
}
.accroche .titre-tournee {
    background-image: url('/images/tournee-de-pi-blanc.png');
    background-image: url('/images/tournee-de-pi-chemin-blanc.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    margin-top: 0vh;
    padding: 0;
    height: 4vh;
    margin-bottom: .5vh;
}
.accroche h2 {color: #CCC;}
.accroche h2 strong {color: #FFF; font-weight: normal;}
.accroche h2.titre {
	color: #FFF;
	font-weight: normal;
    font-family: bebas-neue, 'Helvetica Neue', Helvetica, 'Open Sans';
}

.accroche h3 {color: #CCC;}
.accroche h3 strong {color: #FFF; font-weight: normal;}
.accroche h3.titre {
	color: #FFF;
	font-weight: normal;
    font-family: bebas-neue, 'Helvetica Neue', Helvetica, 'Open Sans';
}
.accroche img {
	height: 2.4vh;
}
.accroche h2 img { vertical-align: baseline; }

.reservation-exterieur {
    border-radius: 0;
    position: absolute;
    overflow: hidden;
    display: inline-block;
}
.reservation-interieur {
	display: block;
}
	
.reservation-exterieur-paris {
    width: 100vw;
    height: 40vh;
	top: 13vh;
    z-index: 1;
    background-color: hsla(352, 84%, 60%, 0.9);
}
.reservation-interieur-paris {
	height: 30vw;
}

.reservation-exterieur-marseille {
    width: 100vw;
    height: 40vh;
	top: 40vh;
    z-index: 3;
    transform: skewY(3deg);
    background-color: hsla(195, 53%, 33%, 0.9);
}
.reservation-interieur-marseille {
	height: 30vw;
}
.reservation-interieur-marseille .text-center { transform: skewY(-3deg); }

.reservation-exterieur-lyon {
    width: 100vw;
    height: 31vh;
	top: 67.5vh;
    z-index: 5;
    transform: skewY(-2deg);
    background-color: hsla(120, 37%, 37%, 0.9)
}
.reservation-interieur-lyon {
	height: 30vw;
}
.reservation-interieur-lyon .text-center { transform: skewY(2deg); }

.text-center {
    color: #FFF;
    font-weight: normal;
    letter-spacing: 1px;
}
h1, h2,h3 {
	font-weight: normal;
	margin: 0;
	padding: 0;
}
h1 {
    font-family: bebas-neue, 'Helvetica Neue', Helvetica, 'Open Sans';
	font-size: 6.6vh;
	margin-top: 2.2vh;
	margin-bottom: 1.1vh;
}
h2 {
	font-size: 3.3vh;
	margin-top: 0;
}

h2 {
	font-size: 2.6vh;
	margin-top: 0;
}
a {
	color: #FFF;
}

.btn {
	color: #FFF;
	texte-align: center;
	padding: 0vh .7vh 0 .7vh;
	margin-top: 2vh;
	font-size: 2.8vh;
	position: absolute;
	z-index: 8;
	background-color: #00F;
}
.reservation-interieur-paris .btn {
    background-color: hsla(195, 53%, 50%, 1);
    border-color: hsla(195, 53%, 33%, 1);
    background-image: linear-gradient(hsla(195, 53%, 50%, 1), hsla(195, 53%, 33%, 1));
}
.reservation-interieur-marseille .btn {
    background-color: hsla(120, 37%, 54%, 1);
    border-color: hsla(120, 37%, 37%, 1);
    background-image: linear-gradient(hsla(120, 37%, 54%, 1), hsla(120, 37%, 37%, 1));
}
.reservation-interieur-lyon .btn {
    background-color: hsla(352, 84%, 77%, 1);
    border-color: hsla(352, 84%, 60%, 1);
    background-image: linear-gradient(hsla(352, 84%, 77%, 1), hsla(352, 84%, 60%, 1));
}

.version-desktop {
    width: 100vw;
    height: 6h;
	top: 95vh;
    z-index: 7;
    background-color: hsla(0, 0%, 15%, 1);
	color: #FFF;
	position:absolute;
}
.version-desktop .text-center, .version-desktop .text-left, .version-desktop .text-right {
    color: #FFF;
    font-weight: normal;
    letter-spacing: normal;
	font-size: 3vh;
	margin: .5vh 2vh .5vh 2vh;
	
}

.a-la-prochaine{
	width: 120vw;

    position: absolute;
    top: 50vh;
    left: -6vh;

    text-align: center;
    line-height: 4vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 4vh;
    color: white;

    position: fixed;
    box-shadow: 0 0 3px rgba(0,0,0,.3);
	background: #2c7;

    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    z-index:6;
}

/* The ribbons */
.corner-ribbon{
  width: 30vh;
  background: #e43;
  position: absolute;
  top: 10vh;
  left: -20vh;
  text-align: center;
  line-height: 2.4vh;
  padding-top: .6vh;
  padding-bottom: .6vh;
  font-size: 2.4vh;
  color: white;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  z-index:2;
}
.corner-ribbon.sticky{
  position: fixed;
}
.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}
.corner-ribbon.top-right{
  top: 3vh;
  right: -9vh;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.corner-ribbon.green{background: #2c7;}
