div.frontpage-poster {
    background: url('/images/poster-front-page.jpg') no-repeat top center fixed; 
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}

nav.frontpage {
    overflow-y:hidden;
    height: 3em;
    display: none;
}

.affiche-paris { 
    width: 35.65vw;
    height: 44.17vw;
    left: 0;
    border-radius: 0;
    background:  url(/images/paris-miniature.jpg) no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 1;
}
.affiche-paris-container { 
    width: 35.65vw;
    height: 44.17vw;
    left: 0;
    border-radius: 0;
    position: absolute;
    overflow: hidden;
    display: inline-block;
    z-index: 1;
}

.affiche-marseille { 
    width: 35.65vw;
    height: 44.17vw;
    left: -1.93vw;
    border-radius: 0;
    background:  url(/images/marseille-miniature.jpg) no-repeat;
    background-size: cover;
    position: absolute;
    transform: skewX(-5deg);
    z-index: 20;
}
.affiche-marseille-container { 
    width: 35.65vw;
    height: 44.17vw;
    left: 33.71vw;
    border-radius: 0;
    position: absolute;
    overflow: hidden;
    display: inline-block;
    transform: skewX(5deg);
    transition: width 1.2s ease-in-out;
    z-index: 20;
}

.affiche-lyon { 
    width: 35.65vw;
    height: 44.17vw;
    left: -1.54vw;
    border-radius: 0;
    background:  url(/images/lyon-miniature.jpg) no-repeat;
    background-size: cover;
    position: absolute;
    transform: skewX(4deg);
    z-index: 30;
}
.affiche-lyon-container { 
    width: 35.65vw;
    height: 44.17vw;
    left: 65.89vw;
    border-radius: 0;
    position: absolute;
    overflow: hidden;
    display: inline-block;
    transform: skewX(-4deg);
    transition: width 1.2s ease-in-out;
    z-index: 30;
}

.slider-affiches-pm {
    /* set initial width */
    width: 600px;
    
    /* hide the content that overflows (to allow second box to show through) */
    overflow: hidden;
    display: inline-block;
    
    /* skew container so that it has angled edge, and set up transition */
    transform: skewX(-20deg);
    transition: width 1.2s ease-in-out;
    
    margin-left: -76px;
           
    /* hide pointer events for unseen content */
    pointer-events: none;
    position: absolute;
    z-index: 2;
}

.slider-affiches-ml {
    /* set initial width */
    width: 300px;
    
    /* hide the content that overflows (to allow second box to show through) */
    overflow: hidden;
    display: inline-block;
    
    /* skew container so that it has angled edge, and set up transition */
    transform: skewX(-20deg);
    transition: width 1.2s ease-in-out;
    
    margin-left: -76px;
           
    /* hide pointer events for unseen content */
    pointer-events: none;
    position: absolute;
    z-index: 3;
}



/* make first box bigger on hover, and smaller when hover second box */
.slider-affiches-pm:hover {
    width: 750px;
}
        
.affiche-paris:hover + slider-affiches-pm {
    width: 250px;
}

.slider-affiches-pm:hover + slider-affiches-ml {
    width: 250px;
}