div.frontpage-poster {
    background: url('/images/poster-frontpage2.jpg') no-repeat top center; 
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}

nav.frontpage {
    overflow-y:hidden;
    display: none;
}

.affiche-paris { 
    width: 35.65vw;
    height: 44.17vw;
    left: 0;
    border-radius: 0;
    background:  url(/images/paris-miniature.jpg) no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 1;
}
.affiche-paris-container { 
    width: 35.65vw;
    height: 44.17vw;
    left: 0;
    border-radius: 0;
    position: absolute;
    overflow: hidden;
    display: inline-block;
    z-index: 1;
}
.affiche-marseille { 
    width: 35.65vw;
    height: 44.17vw;
    left: -1.93vw;
    border-radius: 0;
    background:  url(/images/marseille-miniature.jpg) no-repeat;
    background-size: cover;
    position: absolute;
    transform: skewX(-5deg);
    z-index: 3;
}
.affiche-marseille-container { 
    width: 35.65vw;
    height: 44.17vw;
    left: 33.70vw;
    border-radius: 0;
    position: absolute;
    overflow: hidden;
    display: inline-block;
    transform: skewX(5deg);
    z-index: 3;
}
.affiche-lyon { 
    width: 35.65vw;
    height: 44.17vw;
    left: -1.54vw;
    border-radius: 0;
    background:  url(/images/lyon-miniature.jpg) no-repeat;
    background-size: cover;
    position: absolute;
    transform: skewX(4deg);
    z-index: 5;
}
.affiche-lyon-container { 
    width: 35.65vw;
    height: 44.17vw;
    left: 65.80vw;
    border-radius: 0;
    position: absolute;
    overflow: hidden;
    display: inline-block;
    transform: skewX(-4deg);
    z-index: 5;
}

.affiche-verso {
    display: block;
    background-color: rgba(0,0,0,0.8);
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 1em;
    transform: translateY(-2em);
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}
.affiche-paris-container .affiche-verso {
    display: block;
    background-color: rgba(13, 24, 38, 0.8);
}
.affiche-marseille-container .affiche-verso {
    display: block;
    background-color: rgba(8, 43, 33, 0.8);
}
.affiche-lyon-container .affiche-verso {
    display: block;
    background-color: rgba(38, 26, 13, 0.8);
}

.affiche-container:hover .affiche-verso, .affiche-hoover {
    transform: translateY(0%);
    visibility: visible;
    opacity: 1;
    transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay
				       so the menu will be visible while
				       the other styles transition */
}
.affiche-marseille-container .affiche-verso div.text-center { transform: skewX(-5deg); }
.affiche-lyon-container .affiche-verso div.text-center { transform: skewX(4deg); }

.affiche-paris-container:hover .affiche-verso, .affiche-hoover { z-index: 2; }
.affiche-marseille-container:hover .affiche-verso, .affiche-hoover  { z-index: 4; }
.affiche-lyon-container:hover .affiche-verso, .affiche-hoover { z-index: 6; }

div.affiches { clear: both; height: 44.17vw; }
div.affiches .text-center {
    clear: both;
    color: #999;
    font-size: 2.5vw;
    font-weight: 300;
    letter-spacing: 3px;
    margin : 1em 0;
}
div.affiches .text-center a.theatre {
    font-size: 120%;
    text-decoration: none;
}
div.affiches .affiche-paris-container .text-center .theatre a {
    color: rgba(190, 136, 65, 1);
}
div.affiches .affiche-marseille-container .text-center .theatre a {
    color: rgba(3, 172, 84, 1);
}
div.affiches .affiche-lyon-container .text-center .theatre a {
    color: rgba(64, 168, 191, 1);
}
div.affiches .text-center .cestgratuit {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    color: white;
}
div.affiches .text-center .plusdinfos {
    margin-top: 1em;
    visibility: hidden;
}
div.affiches .text-center .plusdinfos a {
    color: #999;
}
div.affiches .text-center h1 {
    font-family: bebas-neue, 'Helvetica Neue', Helvetica, 'Open Sans';
    font-size: 200%;
    color: white;
}
div.affiches .text-center h3 {
    font-size: 100%;
}
div.affiches .text-center h4 {
    font-size: 75%;
}
div.affiches a.btn-primary {
  background-color: #1abc9c;
  border-color: #1abc9c;
  font-size: 75%;
  color:white;
}
div.affiches .affiche-paris-container .text-center a.btn-primary {
    background-color: hsla(34, 49%, 50%, 1);
    border-color: hsla(34, 49%, 50%, 1);
    background-image: linear-gradient(hsla(34, 49%, 55%, 1), hsla(34, 49%, 45%, 1));
}
div.affiches .affiche-marseille-container .text-center a.btn-primary {
    background-color: hsla(149, 50%, 50%, 1);
    border-color: hsla(149, 50%, 50%, 1);
    background-image: linear-gradient(hsla(149, 50%, 55%, 1), hsla(149, 50%, 45%, 1));
}
div.affiches .affiche-lyon-container .text-center a.btn-primary {
    background-color: hsla(191, 50%, 50%, 1);
    border-color: hsla(191, 50%, 50%, 1);
    background-image: linear-gradient(hsla(191, 50%, 55%, 1), hsla(191, 50%, 45%, 1));
}
div.affiches .btn-group {
  margin-top: 0.5em;
}
div.affiches .btn-primary:hover {
  background-color: #16a085;
  border-color: #16a085;
}
.btn-primary {
  border-radius: .2em;
}




div.section-accroche {
    margin-top: 1em;
}
div.section-accroche .titre-comedie {
    /*background-image: url('/images/titre-comedie.png');
    background-image: url('/images/titre-comedie.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    height: 2em;
    margin-top: 2em;
    margin-bottom: 1em;*/
    color: #777;
    font-family: bebas-neue, 'Helvetica Neue', Helvetica, 'Open Sans';
    letter-spacing: 0px;
    font-size: 200%;
}
div.section-accroche p { margin-top: 1em; }
div.section-accroche .description-comedie {
  color: rgba(117, 10, 24, 1);
  font-style: italic;
  font-size: 75%;
  margin-bottom: 2em;
}
div.section-accroche .affiches {
    margin-top: 2em;
    margin-bottom: 1em;
 }
.affiche-verso-fixe {
    transform: translateY(0%);
    visibility: visible;
    opacity: 1;
    transition-delay: 0s, 0s, 0s; /* this removes the transition delay
				       so the menu will be visible while
				       the other styles transition */
}
.affiche-paris-container .affiche-verso-fixe {
    display: block;
    background-color: rgba(13, 24, 38, 1);
}
.affiche-marseille-container .affiche-verso-fixe {
    display: block;
    background-color: rgba(8, 43, 33, 1);
}
.affiche-lyon-container .affiche-verso-fixe {
    display: block;
    background-color: rgba(38, 26, 13, 1);
}




.section-crowdfunding {
    clear: both;
}
.embed-responsive.embedded-youtube{
    width: 569px;
    height:320px;
    padding:0;
    margin-bottom: 3em;
}









div.section-association {
    overflow: hidden;
    background-color: black;
    margin-top: 2em;
}
div.section-association .catchphrase {
    color: #AAA;
}

div.section-partenaires {
    padding-top: 5em;
}
.thumbnail-partenaires {
  display: block;
  margin-bottom: 20px;
  height: 220px;
  text-align: center;
  /* écrasement du style préexistant */
  background-color: transparent;
  border : 0;
}
.thumbnail-partenaires>img, .thumbnail-partenaires a>img {
  display: block;
  max-height:120px;
  max-width: 95%;
  margin-right: auto;
  margin-left: auto;
}
.thumbnail-partenaires h2 {
  background: rgba(0, 0, 0, .4);
  display: inline-block;
  padding: 0.2em;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 2em;
}

/* The ribbons */

.corner-ribbon{
  width: 300px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 40px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  z-index:10;
}
.corner-ribbon.sticky{
  position: fixed;
}
.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}
.corner-ribbon.top-right{
  top: 47px;
  right: -88px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.corner-ribbon.green{background: #2c7;}
