<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-59791230-1', 'auto');
  ga('send', 'pageview');
  
  var random_element_list = function (list) {
    return list[Math.floor((Math.random()*list.length))]; } 
  
  if (device == "desktop")  {
   var corner_ribbon_label = random_element_list(["Soutenez-nous !", "Soutenez la tournée !", "Helπ us !"]);
  
  var trackOutboundLink = function(url, category, label) {
	if (ga.q) { 
	window.location = url;
	}
	else { try {
      ga('send', 'event', {
        'eventCategory' : category,
	    'eventAction' : 'click',
	    'eventLabel' : label,
        'transport' : 'beacon',
        'hitCallback' : 
		function(){
		window.location = url;
		}});
    }
	catch(err) { window.location = url; }}
  }
  
  var eventbrite_url = $(".corner-ribbon-link").attr("href");
  $(".corner-ribbon").html(corner_ribbon_label);
  $(".corner-ribbon-link").on("click",
    function() {
      trackOutboundLink(eventbrite_url,
	                    "Clic indiegogo - desktop",
                        corner_ribbon_label)});
  $(".corner-ribbon-link").attr("href","#");
  }
 </script>