<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <ul class="list-inline social text-center">
          <li>
            <a href="mailto:{{ site.email }}">
              <i class="fa fa-envelope-o"></i>
            </a>
          </li>
	  <li>
	    <a href="https://www.youtube.com/channel/UCxDMMdKvE0Na8Pnr5SAJeJQ"><i class="fa fa-youtube"></i></a>
	  </li>
          <li>
            <a href="https://twitter.com/pidaymars?lang=fr">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/pidaymars/">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-9">
        <div class="text-center">
          La tournée de π est un événement organisé par l'association Pi day avec le support de la
		  <a href="http://fondation.univ-amu.fr/">Fondation Aix-Marseille Université</a>,
		  de l'<a href="http://ed184.lif.univ-mrs.fr/">école doctorale Mathématiques et Informatique de Marseille
		  (ED 184)</a> et de nombreux autres
		  <a onclick="scroll_to_section_partenaires()" href="#">partenaires</a>.
        </div>
      </div>
    </div>
  </div>
</div>
