<!-- Début Parallaxe -->

<!--<script type="text/javascript">
	$(document).ready(function(){
	    $('#slide1').parallax("center", 0, 0.1, true);
	    $('#slide2').parallax("center", 900, 0.1, true);
	    $('#slide3').parallax("center", 2900, 0.1, true);
	})
</script> -->




<!-- End Parallaxe -->



<script>

  var animation_affiches_montree = false;
  var navbar_on = false;
  var target_section = "{{ page.section }}";

  function first_scroll() {
  $(window).off('scroll');
  $('.navbar').slideDown("slow", function() { 
  $('.corner-ribbon').css({'top': '95px'}); });
  }
  
$(document).on('scroll', function() {
  if(!animation_affiches_montree && $(this).scrollTop()>=$('.section-affiches').position().top-2*$('.navbar').height()){
    $(window).on('DOMMouseScroll mousewheel', function(e) { e.preventDefault(); e.stopPropagation(); });
    window.setTimeout(function() { $(window).off('DOMMouseScroll mousewheel'); }, 1000);
    scroll_to_section_affiches("fast");
  }

  var sections=['affiches', 'accroche', 'reservations', 'crowdfunding', 'association', 'presse', 'partenaires'];

  for (var i=sections.length-1; i>=0; i--)
  {
    if ( 
      ($(this).scrollTop() >= $('.section-' + sections[i]).offset().top - $('.navbar').height() - 200) && 
      (
        i==sections.length-1 ||
        $(this).scrollTop() < $('.section-'+sections[i+1]).offset().top-$('.navbar').height() - 200 ||
        $(this).scrollTop() <= $('.section-'+sections[i]).offset().top - $('.navbar').height()
      ) &&
      (
        i==0 ||
        $(this).scrollTop() > $('.section-'+sections[i-1]).offset().top-$('.navbar').height()
      ) 		       
    ) {
      $('#lien-' + sections[i]).addClass('section-active');
    }
    else
     { $('#lien-' + sections[i]).removeClass('section-active'); }
  }

  if (navbar_on && $(this).scrollTop() == 0) {
    navbar_on = false;
    $('.corner-ribbon').css({'top': ''});
    $('.navbar').slideUp("slow");
  }
  if (!navbar_on && $(this).scrollTop() > 0) {
    navbar_on = true;
    $('.navbar').slideDown("slow");
    $('.corner-ribbon').css({'top': '95px'});
  }

});

  function scroll_to_section_affiches(duration) {
    desarmer_animation_affiches();
    $('html,body').animate({scrollTop: $('.section-affiches').offset().top - $('.navbar').height() },
  	{ duration: duration, complete : function() {
		window.setTimeout(function() {$(".affiche-paris-container .affiche-verso").css({'transform': "translateY(0%)",'visibility': "visible",'opacity': 1, 'transition-delay': "0s, 0s, 0.3s", 'z-index': 2});},500);
		window.setTimeout(function() {$(".affiche-marseille-container .affiche-verso").css({'transform': "translateY(0%)",'visibility': "visible",'opacity': 1, 'transition-delay': "0s, 0s, 0.3s", 'z-index': 4});},700);
		window.setTimeout(function() {$(".affiche-lyon-container .affiche-verso").css({'transform': "translateY(0%)",'visibility': "visible",'opacity': 1, 'transition-delay': "0s, 0s, 0.3s", 'z-index': 6});},900);
		window.setTimeout(function() {$(".affiche-paris-container .affiche-verso").css({'transform': "",'visibility': "",'opacity': "", 'transition-delay': "", 'z-index' : ""});},3000);
		window.setTimeout(function() {$(".affiche-marseille-container .affiche-verso").css({'transform': "",'visibility': "",'opacity': "", 'transition-delay': "", 'z-index': ""});},3200);
		window.setTimeout(function() {$(".affiche-lyon-container .affiche-verso").css({'transform': "",'visibility': "",'opacity': "", 'transition-delay': "", 'z-index': ""});},3400);
  	} });
  }

  $(window).on('scroll', first_scroll);
  
  function desarmer_animation_affiches() {
    animation_affiches_montree = true;
    $('#invite-scroll').fadeOut('fast');
  }
    
  function scroll_to_section_accroche() {  
    desarmer_animation_affiches();
    $('html,body').animate({scrollTop: $('.section-accroche').offset().top
                                     - $('.navbar').height() },'slow');
  }
  function scroll_to_section_reservations() { 
    desarmer_animation_affiches();
    $('html,body').animate({scrollTop: $('.section-reservations').offset().top
                                     - $('.navbar').height() },'slow');
  }
  function scroll_to_section_crowdfunding() {  
    desarmer_animation_affiches();
    $('html,body').animate({scrollTop: $('.section-crowdfunding').offset().top
                                     - $('.navbar').height() },'slow');
  }
  function scroll_to_section_association() {  
    desarmer_animation_affiches();
    $('html,body').animate({scrollTop: $('.section-association').offset().top
                                     - $('.navbar').height() },'slow');
  }
  function scroll_to_section_presse() {  
    desarmer_animation_affiches();
    $('html,body').animate({scrollTop: $('.section-presse').offset().top
                                     - $('.navbar').height()*1.5 },'slow');
  }
  function scroll_to_section_partenaires() {  
    desarmer_animation_affiches();
    $('html,body').animate({scrollTop: $('.section-partenaires').offset().top
                                     - $('.navbar').height() },'slow');
  }
  
  {% if page.device == "unknown" %}
  if (window.matchMedia("(orientation:portrait)").match ||
	(/Android|iPhone|iPad|iPod|BlackBerry/i).test(navigator.userAgent || navigator.vendor || window.opera)) 	{
	    window.location = "/mobile/";
    }
  {% endif %}
</script>

<a class="corner-ribbon-link"  href="https://www.indiegogo.com/projects/tournee-de-pi-science-musical">
<div class="corner-ribbon top-right sticky green shadow">Soutenez-nous&nbsp;!</div>
</a>

<div class="frontpage-poster" onclick="scroll_to_section_affiches('slow')"></div>

<div class="text-center">
<span class="glyphicon glyphicon-chevron-down" id="invite-scroll" onclick="scroll_to_section_affiches('slow')"></span>
</div>

<div class="container row text-center center section-affiches">
  <div class="affiches">
    <!-- Les dimensions des trois affiches doivent etre proportionnelles à 1000x1239 (en gros) -->
    <div class="box affiche-marseille-container affiche-container">
      <figure>
	<div class="box affiche-marseille affiche-recto"></div>
	<figcaption class="affiche-verso">
	  <div class="text-center">
            <h1>Marseille</h1>
            <h3>jeudi 16 mars</h3>
            <h4 class="theatre"><a href="http://www.silo-marseille.fr">Le Silo</a></h4>
	    <h4 class="theatre">20h</h4>
	    <h4 class="cestgratuit">entrée gratuite&nbsp;!</h4>
	    <div class="btn-group">
	      <a class="btn btn-primary btn-sm" href="https://www.eventbrite.fr/e/billets-tournee-de-pi-marseille-comedie-musicale-mathematique-32258079785">
		pré-réservation
	      </a>
	    </div>
	    <h4 class="plusdinfos"><a href=".">plus d'infos...</a></h4>
	  </div>
	</figcaption>
      </figure>
    </div>
    <div class="box affiche-paris-container affiche-container">
      <figure>
	<div class="box affiche-paris affiche-recto"></div>
	<figcaption class="affiche-verso">
	  <div class="text-center">
	    <h1>Paris</h1>
            <h3>mardi 14 mars</h3>
            <h4 class="theatre"><a href="http://www.theatre-des-varietes.fr">Théâtre des Variétés</a></h4>
	    <h4 class="theatre">20h</h4>
	    <h4 class="cestgratuit">entrée gratuite&nbsp;!</h4>
	    <div class="btn-group">
	      <a class="btn btn-primary btn-sm" href="https://www.eventbrite.fr/e/billets-tournee-de-pi-paris-comedie-musicale-mathematique-32256626438">
		pré-réservation
	      </a>
	    </div>
	    <h4 class="plusdinfos"><a href=".">plus d'infos...</a></h4>
	  </div>
	</figcaption>
      </figure>
    </div>
    <div class="box affiche-lyon-container affiche-container">
      <figure>
	<div class="box affiche-lyon affiche-recto"></div>
	<figcaption class="affiche-verso">
	  <div class="text-center">
            <h1>Lyon</h1>
            <h3>dimanche 19 mars</h3>
            <h4 class="theatre"><a href="http://www.transbordeur.fr">Le Transbordeur</a></h4>
	    <h4 class="theatre">18h</h4>
	    <h4 class="cestgratuit">entrée gratuite&nbsp;!</h4>
	    <div class="btn-group">
	      <a class="btn btn-primary btn-sm" href="https://www.eventbrite.fr/e/billets-tournee-de-pi-lyon-comedie-musicale-mathematique-32258333544">
		pré-réservation
	      </a>
	    </div>
	    <h4 class="plusdinfos"><a href=".">plus d'infos...</a></h4>
	  </div>
	</figcaption>
      </figure>
    </div>
  </div>
</div>

<div class="section-accroche">
  <div class="col-sm-12" style="padding-left:4em; padding-right: 4em; "> <!-- :-/ -->
    <div class="catchphrase text-center">
      <p>Voyage en musique au pays du hasard et des mathématiques&nbsp;: du 14 au 19 mars, l'<strong><a href="#" onclick="scroll_to_section_association()">association Pi Day</a></strong> vous invite à Paris, Marseille et Lyon pour partager la plus irrationnelle des soirées musicales&nbsp;!</p>
      <p>Au programme, sciences, musique et spectacle, avec des mini-conférences vivantes et pleines d'énergie, et la nouvelle <strong>comédie musicale mathématique</strong> <em>made in Marseille</em>&nbsp;:</p>

      <div class="titre-comedie">From <span style="color: rgba(117, 10, 24, 1);">Marseille</span> to  <span style="color: black;">Vegas</span></div>

      <div class="description-comedie">Peut-on se jouer du hasard&nbsp;? Avec les mathématiques peut-être&nbsp;!
	En tous cas c'est le pari fou d'un groupe de quatre doctorants désabusés,
	lassés du turbin de la thèse...</div>
      <p>Entrée gratuite, réservez dès à présent vos places&nbsp;:</p>

    <div class="affiches section-reservations">
	<div class="box affiche-marseille-container affiche-container">
	  <figure>
	    <figcaption class="affiche-verso affiche-verso-fixe">
	      <div class="text-center">
		    <h1>Marseille</h1>
            <h3>jeudi 16 mars</h3>
            <h4 class="theatre"><a href="http://www.silo-marseille.fr">Le Silo</a></h4>
            <h4 class="theatre">20h</h4>
            <h4 class="cestgratuit">entrée gratuite&nbsp;!</h4>
            <div class="btn-group">
              <a class="btn btn-primary btn-sm" href="https://www.eventbrite.fr/e/billets-tournee-de-pi-marseille-comedie-musicale-mathematique-32258079785">
                pré-réservation
              </a>
            </div>
            <h4 class="plusdinfos"><a href=".">plus d'infos...</a></h4>
	      </div>
	    </figcaption>
	  </figure>
	</div>
	<div class="box affiche-paris-container affiche-container">
	  <figure>
	    <figcaption class="affiche-verso affiche-verso-fixe">
	      <div class="text-center">
		<h1>Paris</h1>
		<h3>mardi 14 mars</h3>
		<h4 class="theatre"><a href="http://www.theatre-des-varietes.fr">Théâtre des Variétés</a></h4>
		<h4 class="theatre">20h</h4>
		<h4 class="cestgratuit">entrée gratuite&nbsp;!</h4>
		<div class="btn-group">
		  <a class="btn btn-primary btn-sm" href="https://www.eventbrite.fr/e/billets-tournee-de-pi-paris-comedie-musicale-mathematique-32256626438">
		    pré-réservation
		  </a>
		</div>
		<h4 class="plusdinfos"><a href=".">plus d'infos...</a></h4>
	      </div>
	    </figcaption>
	  </figure>
	</div>
	<div class="box affiche-lyon-container affiche-container">
	  <figure>
	    <figcaption class="affiche-verso affiche-verso-fixe">
	      <div class="text-center">
		<h1>Lyon</h1>
		<h3>dimanche 19 mars</h3>
		<h4 class="theatre"><a href="http://www.transbordeur.fr">Le Transbordeur</a></h4>
		<h4 class="theatre">18h</h4>
		<h4 class="cestgratuit">entrée gratuite&nbsp;!</h4>
		<div class="btn-group">
		  <a class="btn btn-primary btn-sm" href="https://www.eventbrite.fr/e/billets-tournee-de-pi-lyon-comedie-musicale-mathematique-32258333544">
		    pré-réservation
		  </a>
		</div>
		<h4 class="plusdinfos"><a href=".">plus d'infos...</a></h4>
	      </div>
	    </figcaption>
	  </figure>
	</div>
	
	
      </div>
      
    </div>
	
  </div>
</div>




<div class="section-crowdfunding">
  <div class="container">
    <div class="catchphrase text-center">
	  <p>La tournée de Pi a aussi besoin de vous&nbsp;! Pour nous permettre de réaliser les vidéos du spectacle, soutenez-nous à travers notre <a href="https://www.indiegogo.com/projects/tournee-de-pi-science-musical#/">campagne de crowdfunding</a>&nbsp;!</p>
    </div>
  </div>
  <div style="margin-top: 18pt;">
    <div class="embed-responsive embed-responsive-16by9 center-block embedded-youtube">
      <iframe class="embed-responsive-item" style="max-width:569px; max-height:320px;" src="https://www.youtube.com/embed/Ohfk8ian6ms"></iframe>
    </div>
  </div>
</div>



<div class="section-association" style="padding: 2em;">
  <div class="row text-left catchphrase">
    <div class="col-sm-12">
      <img src="/images/logo-geometrique.png" class="pull-left gap-right" style="width:10em; margin-right:1em;">
      <h4>
      <p>Nous sommes une association composée de doctorantes, doctorants, jeunes chercheuses et jeunes chercheurs en mathématiques de Lyon, Marseille et Paris, rassemblés autour d'un grand projet de partage des mathématiques. Nous organisons depuis 2013 de nombreux événements de diffusion scientifique grand public à titre bénévole, dont la Journée de π tous les 14 mars (qui devient cette année la Tournée de π)&nbsp;! </p>
      
      <p>Pour l’originalité, l’ampleur et la réussite de ses activités, l’association a reçu en 2016 le <a href="http://smf.emath.fr/VieSociete/PrixAlembert/Laureats.html">Prix d’Alembert</a> de la Société de Mathématiques de France (SMF), récompensant les initiatives de diffusion mathématique auprès du grand public.</p>

      <p>Revivez en vidéo les moments forts du spectacle du Pi Day 2016 au Théatre national de la Criée&nbsp;!</p>

      <div class="embed-responsive embed-responsive-16by9 center-block embedded-youtube"
	   style="margin-top: 2em; margin-bottom: 2em">
	<iframe class="embed-responsive-item" style="max-width:569px; max-height:320px;" src="https://www.youtube.com/embed/1DOI-a-1_4o?list=PLHn5WCTrhnZVDscCsuEZPA0rHt6IYXEbk"></iframe>
      </div>

      <p>Suivez-nous sur
        <a href="https://www.facebook.com/pidaymars/"><i class="fa fa-facebook"></i> Facebook</a>,
	<a href="https://twitter.com/pidaymars?lang=fr"><i class="fa fa-twitter"></i> twitter</a>,
        <a href="https://www.instagram.com/pidaymarseille/"><i class="fa fa-instagram"></i> Instagram</a> et
	<a href="https://www.youtube.com/channel/UCxDMMdKvE0Na8Pnr5SAJeJQ/"><i class="fa fa-youtube"></i> YouTube</a>
	et n'hésitez-pas à nous écrire à l'adresse <a href="mailto:{{ site.email }}"><i class="fa fa-envelope"></i> {{ site.email }}</a>&nbsp;!
      </h4>
    </div>
  </div>
</div>

<div class="section-presse">
  <div class="container text-center">
    <div class="catchphrase">
      <p>
	Retrouvez toutes nos informations dans notre <strong>communiqué de presse</strong>&nbsp;:
      </p>
      <p>
	<a href="/documents/communique-presse-tournee-pi/communique-presse-tournee-pi.pdf" style="margin-right:2em;"><i class="fa fa-file" aria-hidden="true"></i> ficher pdf</a>
	<a href="/documents/communique-presse-tournee-pi.zip"><i class="fa fa-file-archive-o" aria-hidden="true"></i> archive <em>zip</em> multi-formats</a>
      </p>
    </div>
  </div>
</div>

<div class="section-partenaires">
  <div class="container">
    <div class="catchphrase text-center">
	  <p>La <em>Tournée de π</em> est organisée par l'association Pi Day,
	    grace au soutien de la <a href="http://fondation.univ-amu.fr">Fondation Aix-Marseille Université</a>
	    et de nombreux autres partenaires que nous <strong>remercions</strong> !</p>
    </div>
    <div class="row" style="margin-top: 1.5cm">
      {% for partenaire in site.data.partenaires %}
      <div class="col-sm-3">
	<div class="thumbnail thumbnail-partenaires">
	  <a href="{{ partenaire.website }}">
	    <img src="{{ "/images/logo-partenaire/" | prepend: site.baseurl | append: partenaire.filename }}" alt="{{ partenaire.acronym }}">
	  </a>
	  <div class="caption">
	    <p><a href="{{ partenaire.website }}">{{ partenaire.name }}</a></p>
	  </div>
	</div>
      </div>
      {% endfor %}
    </div>
    
    <div>
      <div class="catchphrase">
	  <p>Avec le parrainage de la </p>
      </div>
      <div class="thumbnail thumbnail-partenaires">
	<img src="{{ '/images/logo-partenaire/smf.png' | prepend: site.baseurl }}">
	<div class="caption">
	  <p><a href="http://smf.emath.fr/">Société Mathématique de France</a></p>
	</div>
      </div>
    </div>
    
    <div>
      <div class="catchphrase">
	<p>Nous remercions également tous nos amis&nbsp;:
      </div>
      <div class="row" style="margin-top: 1.5cm">
	{% for partenaire in site.data.amis %}
	<div class="col-sm-3">
	  <div class="thumbnail thumbnail-partenaires">
	    <a href="{{ partenaire.website }}">
	      <img src="{{ "/images/logo-partenaire/" | prepend: site.baseurl | append: partenaire.filename }}" alt="{{ partenaire.acronym }}">
	    </a>
	    <div class="caption">
	      <p><a href="{{ partenaire.website }}">{{ partenaire.name }}</a></p>
	    </div>
	  </div>
	</div>
	{% endfor %}
      </div>
    </div>
    
    <div class="row text-center">
    </div>
    <div class="row" style="margin-top: 1.5cm"></div>
  </div>
</div>

<script>
window.onload = function () { 
if (target_section == "affiches") { scroll_to_section_affiches(); }
else if (target_section == "reservations") { scroll_to_section_reservations(); }
else if (target_section == "accroche") { scroll_to_section_accroche(); }
else if (target_section == "crowdfunding") { scroll_to_section_crowdfunding(); }
else if (target_section == "association") { scroll_to_section_association(); }
else if (target_section == "presse") { scroll_to_section_presse(); }
else if (target_section == "partenaires") { scroll_to_section_partenaires(); }
}
</script>
