<link href="{{ "/lib/bootstrap-3.3.7/css/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ "/lib/font-awesome-4.7.0/css/font-awesome.min.css" | prepend: site.baseurl }}">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>

<script src="{{ '/lib/jquery-3.1.1.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/lib/bootstrap-3.3.7/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>
