<meta charset="utf-8">
<meta name="viewport" content="user-scalable = no, width=device-width, initial-scale=1">

<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
{% if page.redirect %}
{% if page.redirect_wait %}
<meta http-equiv="refresh" content="{{ page.redirect_wait }}; url={{ page.redirect }}">
{% else %}
<meta http-equiv="refresh" content="0; url={{ page.redirect }}">
{% endif %}
{% endif %}

<!-- Open Graph data -->
<meta property="og:title" content="Pi Day - La Tournée de Pi" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.piday.fr" />
<!-- Facebook image must be at least 600x315px -->
<meta property="og:image" content="http://www.piday.fr/images/opengraph-banner.png"/>
<meta property="og:image:type" content="image/png"/>
<meta property="og:image:width" content="2556"/>
<meta property="og:image:height" content="1126"/>
<!--><meta property="og:description" content="La constante du cercle part en tournée ! Rendez-vous les 14, 16 mars et 19 mars 2017 à Paris, Marseille et Lyon pour une soirée spectacle mathématique irrationnelle, transcendante mais néanmoins (probablement) normale !" /><-->
<!--><meta property="og:site_name" content="Pi Day - La tournée de Pi" /><-->
<meta property="og:description" content="Rendez-vous le 14 mars 2018 à la Faculté de Sciences de Marseille pour fêter les maths et manger des tartes !"/><-->
<meta property="og:site_name" content="Pi Day - La journée de Pi" />

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@pidayasso">
<meta name="twitter:url" content="http://www.piday.fr">
<!--><meta name="twitter:title" content="Pi day - La tournée de Pi">
<meta name="twitter:description" content="La constante du cercle part en tournée ! Rendez-vous les 14, 16 mars et 19 mars 2017 à Paris, Marseille et Lyon pour une soirée spectacle mathématique irrationnelle, transcendante mais néanmoins (probablement) normale !">
<meta name="twitter:creator" content="@pidayasso"><-->
<meta name="twitter:title" content="Pi day">
<meta name="twitter:description" content="Rendez-vous le 14 mars 2018 à la Faculté de Sciences de Marseille pour fêter les maths et manger des tartes !">
<meta name="twitter:creator" content="@pidayasso"><-->
<!-- Twitter Summary card images must be at least 200x200px -->
<meta name="twitter:image" content="http://www.piday.fr/images/twitter.png">

<!-- Google -->
<!--><meta name="description" content="La constante du cercle part en tournée ! Rendez-vous les 14, 16 mars et 19 mars 2017 à Paris, Marseille et Lyon pour une soirée spectacle mathématique irrationnelle, transcendante mais néanmoins (probablement) normale !"><-->
<meta name="description" content="Rendez-vous le 14 mars 2018 à la Faculté de Sciences de Marseille pour fêter les maths et manger des tartes !">

<!-- Image pour google -->
<link rel="icon" type="image/png" href="/images/poster-frontpage-2-light.jpg" sizes="1280x787"/>

<!-- Logo dans l'onglet -->
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" sizes="128x128"/>

